* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
boby, html {
    height: 100%;
    font-size: 14px;
}
/*
body {
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #fefefe;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}*/
h1 {
    font-weight: 600;
    /*letter-spacing: 0.1em;*/
    font-size: 2.5em;
}
h2 {
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 2em;
    /*text-transform: uppercase;*/
    margin-bottom: 1.5em;
    margin-left: -1.5em;
}
h3 {
    font-size: 2.5em;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {

}
a:active {
    text-decoration: underline;
}
img {
    /*width: 100%;
    height: auto;*/
    height: 100%;
    width: auto;
}
.content {
    position: relative;
    width: 100%;
    height: 100vh;
}
header {

}
section {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}
#about-intro  { height: 50%; }
#experiences  { background-color: #445566; }
#expertises   { background-color: #118866; }

.large-column {
    position: relative;
    width: 60%;
    height: 56%;
    margin: auto;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
    background-color: #335599;
}
#intro-titre {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.section_title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -0.6em;
}
.title-item {
    position: absolute;
    top: 25%;
    left: 15%;
}
.item-img {
    /*width: 50%;*/
    height: 75%;
    position: absolute;
}
.pagination-bloc {
    text-align: center;
    position: relative;
    /*text-align: right;
    width: 50%;
    left: 50%;*/
}
.rect {
    display: inline-block;
    position: relative;
    /*width: 40%;*/
    width: 25%;
    height: 1px;
    background-color: #000000;
    top: -0.3em;
}
.item-number {
    display: inline-block;
}
.total-item-number {
    display: inline-block;
}

.items {
    position: absolute;
    bottom: 0;
    display: none;
}
.details {
    position: relative;
    font-size: 1em;
    /* bottom: -8.5em; */
    }
