* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
boby, html {
    height: 100%;
    font-size: 14px;
    font-family: 'Overpass', sans-serif;
    font-weight: 200;
}
.grey {
    color: #eef0f3;
}
.black {
    color: #00001d;
}
.pink {
    color: #ff6b67;
}
.bckg-grey {
    background-color: #eef0f3;
}
.bckg-darker-grey{
    background-color: #bbb5b9;
}
.bckg-black {
    background-color: #00001d;
    color: #eef0f3;
}
.bckg-vert {
    background-color: #415957;
}
.bckg-pink{
    background-color: #d8bdc7;
}
.grad-pink {
    background: linear-gradient(-90deg, #606060, #8c6371, #ff6b67, #bbcad2);

}
.grad-grey {
    background: linear-gradient(-90deg, #606060, #bbcad2);

}
.svg.pink {
    fill: #ff6b67;
}
.svg.grey {
    fill:#ECEEF1;
}
.svg.black {
    fill:#00001d;
}
.svg.vert{
    fill:#415957;
}
.svg.pink-gradient {
    fill:url(#svg-pink-grad);
}
.svg.grey-gradient{
    fill:url(#svg-grey-grad);
}
.bold {
    font-weight: 600;
}

h1 {
    font-weight: 600;
    /*letter-spacing: 0.1em;*/
    font-size: 2.5em;
}
h2 {
    font-family: 'Rakkas', cursive;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1.1em;
    font-size: 1.4em;
}
h3 {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2em;
    font-family: rakkas;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
}
a:active {
    text-decoration: underline;
}
img {
    /*width: 100%;
    height: auto;*/
    height: 100%;
    width: auto;
}
.content {
    position: relative;
    width: 100%;
    height: 100vh;
}
header {

}
/*
section {
    position: relative;
    top: 0px;
    left: 0px;
}
*/
.film-ratio {
    height:56.25%;
}
.film-ratio-padding {
    padding: 5% 0;
    height: 66.25%;
}
.flex-row {
    display: flex;
    align-items: center;
}
.flex-row > div {
        flex: 1;
}
.flex-row .image-flex {
    width: 50%;
}
.flex-row .middle-column {
    flex: 1;
}
.flex-row .side-column {
    width: 25%;
    flex: unset;
    height: 100%;
}
.layout-columns {
    display: block;
    align-items: center;
    height: auto;
    padding: 3% 0;
}
.column {
    height: 100%;
    text-align: center;
    position: relative;
}
.layout-columns .column {
    display: inline-block;
    position: absolute;
    width: 50%;
    top: 0;
}
.three-column {
    height: 100%;
width: 100%;
position: relative;
display: flex;
display: flex;
flex-flow: column nowrap;
flex: 1 0 auto;
align-items: center;
/* top: 0; */
}
.three-column:nth-of-type(2){
    background-color: #eef0f3;
}
.three-column:nth-of-type(3){
    background-color: #eef0f3;
}
.arrow-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.scroll-to{
    width: 50%;
    /*
    height: 35%;
    color: #455857;
    */
    display: flex;
    font-size: 1.5em;
    justify-content: flex-start;
    position: relative;
    margin: auto;
    top:0;
    transition: top 0.5s;
}
.scroll-to:hover{
    color: #000;
    top:20%;
}
.scroll-top {
    width: 50%;
    height: 100%;
    display: flex;
    color: #455857;
    justify-content: flex-start;
    position: relative;
    margin: auto;
    top: 0;
    transition: top 0.5s;
}
.scroll-top:hover {
    top:-20%;
}
.scroll-top span{
    line-height: 1;
    font-size: 1.5em;
    position: relative;
    bottom: 3px;
}
.scroll-top p{
    font-size: 0.8em;
}
.scroll-to a, .scroll-top a{
    color: #d8bdc7;
}
.scroll-to a:hover, .scroll-top a:hover{
    text-decoration: none;
    color: #455857;
}
.layout-columns .small-column-left {
    width: 25%;
}
.medium-column-right {
    width: 100%;
height: 75%;
display: flex;
flex-flow: column nowrap;
/* align-items: center; */
/* flex-grow: 1; */
/* justify-content: center; */
/* position: absolute; */
/* top: 0; */
overflow: scroll;
}
.sub-column {
    width: 50%;
    text-align: left;
    /*margin: auto;*/
}
.sub-column-text {
    position: relative;
    height: 70%;
    width: 50%;
    text-align: left;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}
.center-height {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.center-height h2:hover {
    transform: scale(1.02);
}
.bottom-align {
    position: absolute;
    bottom: 16.66%;
    left: 50%;
    transform: translateX(-50%);
}
.center-height:hover + .bottom-align {
    opacity: 0.1;
}
.icon {
    /*
    position: relative;
    bottom: 0;
    display: inline-block;
    */
    height: 100%;
    margin-right: 2em;
}
/*
.icon:hover {
    height: 105%;
}
*/
.img-about-container {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    text-align: left;
}
.img-about {
    position: relative;
    top: 0;
    height: 90%;
    width: auto;
}
.socials{
    height: 7%;
    position: relative;
    top: 35%;
    left: 10%;
    width: 50%;
    /*text-align: left;*/
    display: flex;
    align-items: flex-start;
}

.svg-img {
    height:100%;
    transform: scale(1);
    transition: scale 0.8s;
    transition-timing-function: ease-in;
}
.svg {
    transition: fill 0.4s;
}
.svg-img:hover {
    transform: scale(1.25);
}
.svg-img:hover.svg.grey{
    /*
    //rouge
    fill: #ff6b67;
    //marron
    fill: #c47339;
    */
    fill: #d8bdc7;
}
.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.right-align {
    float: right;
}
.decalage {
    position: absolute;
    top: 50%;
    z-index: 1;
}
.foreground {
    position: relative;
    height: 100%;
    width: 90%;
    margin: 0 5%;
    z-index: 1;
}
.foreground .sub-column {
    width: 60%;
}
.about-slidetext-container {
    position: relative;
    display: block;
    width: 100%;
    height: 25%;
    top: 0;
}

.screen {
    mix-blend-mode: screen;
}
.marquee {
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    font-family: 'Rakkas', cursive;
    /* each letter will be 5% of the viewport width */
    font-size: 4vw;
    letter-spacing: 0.1em;
    line-height: 1;
    overflow: hidden;
    color: #eef0f3;
}

@keyframes moveLeft {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-300vw);
    }
}
.marquee span {
    /* */
    animation: moveLeft 50s linear infinite;
    /* this ensure text stay all on the same line */
    white-space: nowrap;
    /* our spanis inline by default, so we out it block */
    display: block;
    /* this will let us add our animation */
    position: relative;
    bottom: -0.1em;
}
.letter{
    font-size: 8em;
    font-family: rakkas;
    position: absolute;
    top: 25%;
    left: 35%;
    opacity: 0.2;
}
/*
.top-angle:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 125%;
    content: '';
    -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg);
    opacity: .012;
}*/
.logo_container{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.logo {
    height: 50%;
    position: relative;
}
.img-logo {
    position: absolute;
    width: 100%;
    height: 100%;
    /*text-align: center;*/
}
.img-logo.back {
    top:1.5%;
    left:1.5%;
}
.img-logo.front {
    top:0%;
    left:0%;
}
.angle-black {
    position: absolute;
    top: -15%;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg);
}
.section-angle {
    position: absolute;
    height: 25%;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}
.angle-container {
    bottom: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.angle-pink {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg);
    transform-origin: 0;
    background-color: #d4bec7;
}
.text-angle {
    position: relative;
    left: 0;
    content: '';
    -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg);
}
.width-quarter {
    width: 50%;
    position: absolute;
    right: 0;
}
.small-height {
    height: 25%;
}
.middle-height {
    height: 50%;
}
.medium-height {
    height: 75%;
}
.full-height {
    height: 100%;
}
.background {
    z-index: -1;
}
@keyframes fadeIn {
    0% {
        opacity:0;
        transform: translateY(20px);
    }
    50%{
        transform: translateY(0px);
    }
    100% {
        opacity:1;
    }
}
.appear {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /* make sure end state stays the same */
    animation-fill-mode: forwards;
}
@media (max-width:640px) {
    .flex-row {
        flex-flow: column wrap;
        align-items: stretch;
    }
    .angle-black {
    height: 100%;
    }
    .section-angle {
    height: 20%;
    }
    .flex-row .side-column {
        display: none;
    }
    .logo_container {
        height: 70%;
    }
    .medium-height {
        height: 75%;
    }
    .marquee {
        /* reset our marquee back to his default position */
        font-size: 2em;
        position: relative;
    }

    .about-slidetext-container {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50%;
    }
    .socials {
        height: 20%;
        width: 100%;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 10%;
    }
    .icon {
        margin-left: 15px;
        margin-right: 15px;
        height: 35%;
    }
    .middle-height{
        height: 25%;
    }
    #formation{
        height: auto;
    }
    .medium-column-right {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .sub-column-text {
    width: 100%;
    margin: 2em auto;
    }
    h3 {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 1em;
    line-height: 1.2em;
}
    }
