* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
boby, html {
    height: 100%;
    font-size: 14px;
    font-family: 'Overpass', sans-serif;
    font-weight: 200;
}
.grey {
    color: #eef0f3;
}
.black {
    color: #00001d;
}
.pink {
    color: #ff6b67;
}
.bckg-grey {
    background-color: #eef0f3;
}
.bckg-black {
    background-color: #00001d;
    color: #eef0f3;
}
.bckg-violet {
    background-color: #7983ce;
}
.grad-pink {
    background: linear-gradient(-90deg, #606060, #8c6371, #ff6b67, #bbcad2);

}
.grad-grey {
    background: linear-gradient(-90deg, #606060, #bbcad2);

}
.svg.pink {
    fill: #ff6b67;
}
.svg.grey {
    fill:#ECEEF1;
}
.svg.black {
    fill:#00001d;
}
.svg.pink-gradient {
    fill:url(#svg-pink-grad);
}
.svg.grey-gradient{
    fill:url(#svg-grey-grad);
}
.bold {
    font-weight: 600;
}

h1 {
    font-weight: 600;
    /*letter-spacing: 0.1em;*/
    font-size: 2.5em;
}
h2 {
    font-family: 'Rakkas', cursive;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1.1em;
    font-size: 1.4em;
}
h3 {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 8%;
    line-height: 1.2em;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
}
a:active {
    text-decoration: underline;
}
img {
    /*width: 100%;
    height: auto;*/
    height: 100%;
    width: auto;
}
.content {
    position: relative;
    width: 100%;
    height: 100vh;
}
header {

}
section {
    position: relative;
    top: 0px;
    left: 0px;
}
.film-ratio {
    height:56.25%;
}
.film-ratio-padding {
    padding: 5% 0;
    height: 66.25%;
}
.flex-row {
    display: flex;
    align-items: center;
}
.flex-row > div {
        flex: 1;
}
.flex-row .image-flex {
    width: 50%;
}
.flex-row .middle-column {
    flex: 1;
}
.flex-row .side-column {
    width: 25%;
    flex: unset;
}
.layout-columns {
    display: block;
    align-items: center;
    height: auto;
    padding: 3% 0;
}
.column {
    height: 100%;
    text-align: center;
    position: relative;
}
.layout-columns .column {
    display: inline-block;
    position: absolute;
    width: 50%;
    top: 0;
}
.layout-columns .three-column {
    display: inline-block;
    position: relative;
    width: 33%;
    top: 0;
}
.layout-columns .small-column-left {
    width: 25%;
}
.layout-columns .medium-column-right {
    width: 75%;
    left: 25%;
}
.sub-column {
    width: 50%;
    text-align: left;
    margin: auto;
}
.sub-column-text {
    position: relative;
    width: 75%;
    text-align: left;
    margin: auto;
}
.center-height {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.center-height h2:hover {
    transform: scale(1.02);
}
.bottom-align {
    position: absolute;
    bottom: 16.66%;
    left: 50%;
    transform: translateX(-50%);
}
.center-height:hover + .bottom-align {
    opacity: 0.1;
}
.icon {
    position: relative;
    bottom: 0;
    height: 100%;
    display: inline-block;
    margin-right: 5%;
}
.socials{
    height: 8%;
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 50%;
    text-align: left;
}
.img-about-container {
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    /* width: auto; */
    text-align: left;
}
.svg-img {
    height:100%;
    transform: scale(1);
    transition: scale 0.8s;
}
.svg {
    transition: fill 0.4s;
}
.svg-img:hover {
    transform: scale(1.2);
}
.svg-img:hover.svg.grey{
    fill: #ff6b67;
}
.img-about {
    position: relative;
    top: 0;
    height: 100%;
}
}
.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.right-align {
    float: right;
}
.decalage {
    position: absolute;
    top: 50%;
    z-index: 1;
}
.foreground {
    position: relative;
    height: 100%;
    width: 90%;
    margin: 0 5%;
    z-index: 1;
}
.foreground .sub-column {
    width: 60%;
}
.about-slidetext-container {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
}
.about-slidetext {
    position: relative;
    overflow: hidden;
    font-family: 'Rakkas', cursive;
    font-size: 4em;
    letter-spacing: 0.1em;
    line-height: 0.34;
    height: 45%;
    width: 100%;
}
.about-slidetext-titre {
position: absolute;
/*top: 50%;*/
bottom:0;
white-space: nowrap;

-webkit-animation: animLeftSlideshow 16s linear infinite;
-moz-animation: animLeftSlideshow 16s linear infinite;
-ms-animation: animLeftSlideshow 16s linear infinite;
-o-animation: animLeftSlideshow 16s linear infinite;
animation: animLeftSlideshow 16s linear infinite;

}
.letter{
    font-size: 8em;
    font-family: rakkas;
    position: absolute;
    top: 25%;
    left: 35%;
    opacity: 0.2;
}

/*
.delay {
     animation-delay: 8s;
}*/
.delay {
    -webkit-animation: animLeftSlideshow2 24s linear infinite;
    -moz-animation: animLeftSlideshow2 24s linear infinite;
    -ms-animation: animLeftSlideshow2 24s linear infinite;
    -o-animation: animLeftSlideshow2 24s linear infinite;
    animation: animLeftSlideshow2 24s linear infinite;
}
@keyframes animLeftSlideshow {
    0% {
    -webkit-transform: translate(100%, -50%);
    -moz-transform: translate(100%%, -50%);
    -ms-transform: translate(100%%, -50%);
    -o-transform: translate(100%%, -50%);
    transform: translate(100%%, -50%);
    }
    100%{
    -webkit-transform: translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    -o-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
    }
}
@keyframes animLeftSlideshow2 {
    0% {
    -webkit-transform: translate(200%, -50%);
    -moz-transform: translate(200%%, -50%);
    -ms-transform: translate(200%%, -50%);
    -o-transform: translate(200%%, -50%);
    transform: translate(200%%, -50%);
    }
    100%{
    -webkit-transform: translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    -o-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
    }
}
/*
.top-angle:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 125%;
    content: '';
    -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg);
    opacity: .012;
}*/
.logo_container{
    position: relative;
    height: 45%;
    width: 100%;
    top: 0;
}
.logo {
    height: 50%;
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    transform: translateX(-50%);
}
.img-logo {
    position: absolute;
    width: 100%;
    height: 100%;
    /*text-align: center;*/
}
.img-logo.back {
    top:1.5%;
    left:1.5%;
}
.img-logo.front {
    top:0%;
    left:0%;
}
.angle-black {
    position: absolute;
    top: -15%;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg);
}
.angle-grey {
    position: absolute;
    top: -75px;
    left: 0;
    width: 100%;
    height: 150px;
    content: '';
    -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg);
    background-color: #eef0f3;
}
.text-angle {
    position: relative;
    left: 0;
    content: '';
    -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg);
}
.width-quarter {
    width: 50%;
    position: absolute;
    right: 0;
}
.small-height {
    height: 25%;
}
.middle-height {
    height: 50%;
}
.medium-height {
    height: 75%;
}
.background {
    z-index: -1;
}

/* animation lettre
.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}*/
/*
body {
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #fefefe;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}*/
